---
# PostgreSQL installation with replication support

- name: Add PostgreSQL apt key
  apt_key:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    state: present

- name: Add PostgreSQL repository
  apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg main"
    state: present
    filename: postgresql

- name: Install PostgreSQL packages
  apt:
    name:
      - postgresql-{{ postgres_version }}
      - postgresql-contrib-{{ postgres_version }}
      - python3-psycopg2
    state: present
  notify: Restart PostgreSQL

- name: Create PostgreSQL data directory
  file:
    path: "{{ postgres_data_dir }}"
    state: directory
    owner: postgres
    group: postgres
    mode: '0700'

- name: Configure PostgreSQL
  template:
    src: postgresql.conf.j2
    dest: /etc/postgresql/{{ postgres_version }}/main/postgresql.conf
    owner: postgres
    group: postgres
    mode: '0640'
  notify: Restart PostgreSQL

- name: Configure pg_hba.conf
  template:
    src: pg_hba.conf.j2
    dest: /etc/postgresql/{{ postgres_version }}/main/pg_hba.conf
    owner: postgres
    group: postgres
    mode: '0640'
  notify: Restart PostgreSQL

- name: Start and enable PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes

- name: Create replication user
  become_user: postgres
  postgresql_user:
    name: replicator
    password: "{{ postgres_replication_password }}"
    role_attr_flags: REPLICATION,LOGIN
  when: inventory_hostname == groups['postgres'][0]

- name: Create mctrack database
  become_user: postgres
  postgresql_db:
    name: mctrack
    encoding: UTF8
    lc_collate: en_US.UTF-8
    lc_ctype: en_US.UTF-8
    template: template0
  when: inventory_hostname == groups['postgres'][0]

- name: Create mctrack user
  become_user: postgres
  postgresql_user:
    name: mctrack
    password: "{{ postgres_mctrack_password }}"
    db: mctrack
    priv: ALL
  when: inventory_hostname == groups['postgres'][0]

- name: Configure firewall for PostgreSQL
  ufw:
    rule: allow
    port: "{{ postgres_port }}"
    proto: tcp
    src: "{{ hostvars[groups['k8s'][0]]['ansible_default_ipv4']['network'] }}/24"

- name: Configure standby replication
  block:
    - name: Stop PostgreSQL on standby
      service:
        name: postgresql
        state: stopped

    - name: Remove existing data
      file:
        path: "{{ postgres_data_dir }}"
        state: absent

    - name: Run pg_basebackup
      command: >
        pg_basebackup -h {{ hostvars[groups['postgres'][0]]['ansible_host'] }}
        -D {{ postgres_data_dir }} -U replicator -P -R -X stream
      become_user: postgres
      environment:
        PGPASSWORD: "{{ postgres_replication_password }}"

    - name: Start PostgreSQL on standby
      service:
        name: postgresql
        state: started
  when: inventory_hostname != groups['postgres'][0]
